h1{
    color: white;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 2px var(--goodGray);
    font-size: 10vw;
}
body{
    text-align: center;
}
#container > .column{
    text-align: left;
    padding: 1vw;
    margin: 1vw;
    border-style: groove;
    border-color:white;
    border-width: .5vw;
    border-radius: 2vw 0px 2vw 0px;
}
#container{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
:root{
--standardBlue: rgb(8, 8, 46);
--goodGray: rgb(200,200,200);
}
*{
    background-color:var(--standardBlue);
}
button{
    padding: .75vw;
    color: var(--standardBlue);
    background-color:white;
    border-width: .5vw;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    border-radius: 1.5vw 0px 1.5vw 0px;
    border-color:var(--goodGray);
    margin: 1vw;
}
p{
    color: white;
    margin: 1vw;
}
#showoff{

    margin: auto;
    width: 80vw;
    height: 80Vh;
    border-style: groove;
    border-radius: 1.5vw 0px 1.5vw 0px;
    border-color:var(--goodGray);
    border-width: .5vw;
    background: repeating-linear-gradient(white,var(--standardBlue),black,var(--goodGray),black,var(--standardBlue),white 50%)
}