h1{
    color: white;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 2px var(--goodGray);
    font-size: 10vw;
}
h2{
    position: relative;
    top: -6vw;
    color: white;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    text-shadow: 0px 3px 2px var(--goodGray);
    font-size: 2vw;
}
body{
    text-align: center;
    background-color:var(--standardBlue);
}
#container > .column{
    text-align: left;
    padding: 1vw;
    margin: 1vw;
    border-style: groove;
    border-color:white;
    border-width: .5vw;
    border-radius: 2vw 0px 2vw 0px;
    background-color: rgb(28,28,66);
}
#container{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
:root{
--standardBlue: rgb(8, 8, 46);
--goodGray: rgb(200,200,200);
}

    
button{
    padding: .75vw;
    color: var(--standardBlue);
    background-color:white;
    border-width: .5vw;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    border-radius: 1.5vw 0px 1.5vw 0px;
    border-color:var(--goodGray);
    margin: 1vw;
}
button:hover{
    padding: .75vw;
    color: var(--standardBlue);
    background-color: rgb(190,190,255);
    border-width: .5vw;
    font-size: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: inset;
    border-radius: 1.5vw 0px 1.5vw 0px;
    border-color:var(--goodGray);
    margin: 1vw;
}

p{
    color: white;
    margin: 1vw;
    font-size: 1.5vw;
    background-color: inherit;
}
#showoff{
    margin: auto;
    border-style: groove;
    height: 50vw;
    border-radius: 1.5vw 0px 1.5vw 0px;
    border-color:var(--goodGray);
    border-width: .5vw;
    background: repeating-linear-gradient(white,var(--goodGray),var(--standardBlue),black,var(--standardBlue),var(--goodGray),white 50%)
}

a{
    color: white;
    font-size: 1.5vw;
    margin: 1vw;
}
#contentList, #contentList>li{
    background-color: inherit;
    color: white;
    margin: 1vw;
    font-size: 1.5vw;

}
#container > .wonky{
    text-align: right;
    padding: 1vw;
    margin: 1vw;
    border-style: dashed;
    border-color:palevioletred;
    border-width: 1vw;
    border-radius: 2vw 3px 2vw 3px;
    background-color: lightcoral;
}

h3{
    font-size: 2vw;
    text-align: center;
    color: white;
}