h1{
    color: white;
    text-align: center;
    font-family: 'Cinzel', sans-serif;
    text-shadow: 0px 4px 2px var(--standardBlue);
    font-size: 10vw;
}
body{
    text-align: center;
}
#container > .column{
    text-align: left;
    padding: 1vw;
    margin: 1vw;
    border-style: groove;
    border-color:var(--standardBlue);
    border-width: 1vw;
}
#container{
    display: grid;
    grid-template-columns: 33% 34% 33%;
}
:root{
--standardBlue: rgb(6,6,117);
--goodGray: rgb(200,200,200);
}
*{
    background-color:var(--goodGray);
}
button{
    color: var(--standardBlue);
    background-color:var(--goodGray);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-style: groove;
    border-radius: 1vw 2vw 1vw 2vw;
    border-color:var(--standardBlue);
    margin: 2vw;
}
p{
    color: var(--standardBlue);
}